@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-khtml-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin background-gradient($sc: #f3f3f3, $ec: #fcfcfc) {
	background: $sc; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$sc}', endColorstr='#{$ec}'); /* ie */
	background: -webkit-gradient(linear, left top, left bottom, from($sc), to($ec)); /* webkit */
	background: -moz-linear-gradient(top, $sc, $ec); /* ff */
}