@import "_mixin";

$border-color: #CCCCCC;
$min-page-width: 310px;
$page-margin: 40px;
$bar-padding: 5px;

$color-yellow: #FFD538;
$color-yellow-end: #D8B42F;
$color-yellow-hover: #FFCB11;
$color-blue: #5661FF;
$color-blue-end: #4953D8;
$color-red: #FF2B44;
$color-red-end: #D8243C;
$color-red-hover: #FF0526;

* {
	box-sizing: border-box;
}

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: $page-margin;
	background: url("/img/bg.jpg");
	color: #333333;
	min-width: $min-page-width;
	
	& > .container {
		border: 1px solid $border-color;
		background-color: #FFFFFF;
		min-width: $min-page-width + $bar-padding * 2;
		@include border-radius(5px);
	}
}

@media screen and (max-width: 10px + ($min-page-width + $bar-padding + $page-margin) * 2) {
	body {
		margin: 0;
		background-color: red;
	}
}

@media screen and (max-width: ($min-page-width + $bar-padding) * 2) {
	body .bar.add-folder .item {
		width: 100%;
		
		.placeholder {
			display: none;
		}
	}
}

.bar {
	border-bottom: solid 1px $border-color;
	padding: 0 $bar-padding;
	
	.item .title {
		color: rgba(0, 0, 0, 0.25);
	}
	
	&:hover .item .title {
		color: unset;
	}
	
	&.tool-bar .item {
		float: left;
		min-width: 40px;
		margin: 14px 2px 0;
		cursor: pointer;
		text-align: center;
		
		i.fa {
			font-size: 1.2em;
		}
		
		.title {
			font-size: 0.6em;
			margin-top: -7px;
		}
	}
	
	&.nav-bar {
		@include background-gradient(#FFFFFF, #EDEDED);
		
		.item {
			cursor: pointer;
			float: left;
			font-size: 1em;
			padding: 12px 10px 11px;
			text-align: center;
			
			&.home {
				font-size: 1.3em;
				padding: 8px 10px;
			}
			
			&.separator {
				padding-left: 0;
				padding-right: 0;
				cursor: default;
				color: #909090;
			}
			
			&.active {
				cursor: default;
			}
		}
	}
	
	&.add-folder {
		$bar-height: 100px;
		min-width: $min-page-width;
		
		.item {
			width: $min-page-width;
			float: left;
			//height: $bar-height;
			text-align: center;
			
			input {
				border: 1px solid rgba(34, 36, 38, 0.15);
				border-radius: 4px;
				color: rgba(0, 0, 0, 0.87);
				font-size: 14px;
				height: 37px;
				padding: 0.5em 1em 0.7em;
				width: $min-page-width;
				margin: 7px 0;
				
				&:active {
					border: 1px solid rgba(34, 36, 38, 0.35);
				}
				
				&:focus {
					border: 1px solid rgba(86, 97, 255, 0.35);
				}
				
				&.error {
					color: $color-red;
					border-color: $color-red-end;
				}
			}
			
			button {
				border: 1px solid rgba(34, 36, 38, 0.15);
				border-radius: 4px;
				color: rgba(255, 255, 255, 0.87);
				font-size: 14px;
				height: 37px;
				padding: 0.5em 1em 0.7em;
				width: $min-page-width - 20px;
				font-weight: 600;
				cursor: pointer;
				@include background-gradient($color-blue, $color-blue-end);
				margin: 7px 0;
				
				&:hover {
					@include background-gradient($color-blue-end, $color-blue);
				}
			}
			
			.label {
				width: 100%;
				height: $bar-height / 2;
				line-height: $bar-height / 2;
			}
		}
	}
	
	&.loader {
		text-align: center;
		padding: 30px 20px;
	}
}

.folder {
	float: left;
	margin: 10px;
	overflow: hidden;
	cursor: pointer;
	
	.title {
		font-size: 0.8em;
	}
	
	&.active .color-yellow {
		color: $color-yellow-end;
	}
}

.color-yellow {
	color: $color-yellow;
	
	&:hover {
		color: $color-yellow-hover;
	}
}

.color-red {
	color: $color-red;
	
	&:hover {
		color: $color-red-hover;
	}
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}