extends layout

block content
	.container(ng-controller='FoldersController')
		.bar.nav-bar
			.item.home
				i.fa.fa-home(ng-click="backTo()")
			.item.separator(ng-repeat-start="folder in back_trace")
				i.fa.fa-angle-right
			.item(ng-repeat-end="" ng-click="backTo(folder)" ng-class="{active: folder == current_folder}") {{folder.name}}

			.clear

		.bar.tool-bar
			.item(title="Back" ng-click="back()")
				i.fa.fa-chevron-left
				.title Back

			.item(title="Add folder" ng-click="toggleAddFolder()")
				i.fa.fa-plus
				.title Add folder

			.item(title="Remove folder" ng-click="removeFolders()" ng-class="{hidden: !selected_folders.length}")
				i.fa.fa-remove.color-red
				.title Remove folder

			.clear

		.bar.add-folder(ng-show="add_folder")
			.item
				.label Folder name
				input(type="text" ng-model="form_data.name" ng-class="{error: form_data_errors.name}" ng-keypress="checkForAddFolder($event)" placeholder="Folder name")
			.item
				.label.placeholder
				button(ng-click="addFolder()") Create

			.clear
		
		.bar.loader(ng-class="{hidden: !loading_data}")
			i.fa.fa-spinner.fa-pulse.fa-5x
			
		.folder(title="{{folder.name}}" ng-class="{hidden: loading_data, active: selected_folders.indexOf(folder) > -1}" ng-repeat="folder in folders" ng-dblclick="open(folder)" sglclick="selectFolder(folder)")
			i.fa.fa-folder-open.fa-3x.color-yellow
			.title {{folder.name}}

		.clear
