doctype html
html(ng-app='App')
	head
		title= title
		link(rel='stylesheet', href='/libs/components-font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/css/style.css')

		script(src='/libs/angular/angular.min.js')
		script(src='/js/controllers/folders.js')
		script(src='/js/services/folders.js')
		script(src='/js/directives/sglclick.js')
		script(src='/js/main.js')
	body
		block content
